services:
  nginx:
    container_name: nginx
    build: 
      context: .
      dockerfile: Dockerfile.debian
    ports:
      - 80:80
    configs:
      - source: nginx-config
        target: /etc/nginx/conf.d/default.conf
  backend:
    container_name: backend
    build:
      context: server  
    ports:
      - 8080:8080
configs:
  nginx-config:
    file: ./nginx-websocket-example.conf
